.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
nav {
  width: 100%;
}
div#nav-links{
  margin: auto;
  width: 100%;
}

div#nav-links>p {
  float: left;
  margin: 0.2em;
}
div#nav-links>h6 {   
  display: -webkit-inline-box;
  margin: 0.2em;
}

div#nav-links>button {
  margin: 0.2em;
  float: right;
  background:none!important;
  color: white;
  border:none; 
  padding:0!important;
  font: inherit;
  /*border is optional*/
  cursor: pointer;
}
div#nav-links>button.underlined {
  border-bottom:1px solid #f7f7f7; 
}

div#nav-links>button:hover {
  color: #F7F7F7;
}

.App-content {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-footer {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
